* {
    margin: 0;
    padding: 0;
}

body {
    background: url("/assets/images/mar.jpg") repeat scroll 0 0 rgba(0, 0, 0, 0);
    font-family: "Josefin Sans", sans-serif;
}

#wrapper {
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.8);
    margin: 0 auto;
    max-width: 1440px;
    width: 100% !important;
}

section {
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 1100px;
    margin: 0 auto;
    max-width: 1440px;
    overflow: hidden;
    padding: 0;
    position: relative;
    width: 100% !important;
}

#bloque1 {
    background-image: url("/assets/images/agua.jpg")
}

#bloque2 {
    background-image: url("/assets/images/cinco.jpg")
}

#bloque3 {
    background-image: url("/assets/images/uno.jpg")
}

#bloque4 {
    background-image: url("/assets/images/dos.jpg")
}

h1 {
    background-color: #02223a;
    bottom: 0;
    color: rgba(255, 255, 255, 0.8);
    display: block;
    font-size: 5em;
    font-weight: bold;
    margin-top: 3em;
    opacity: 0.76;
    text-align: center;
    text-shadow: 1px 1px 1px #666;
    text-transform: uppercase;
    width: 100%;
}

h2 {
    color: #fff;
    font-size: 5em;
    font-weight: bold;
    margin-top: 5em;
    opacity: 0.85;
    text-align: center;
    text-shadow: 1px 1px 1px #ccc;
    text-transform: uppercase;
}

#logo {
    display: block;
    margin: 6em auto 0;
    opacity: 0.8;
    width: 500px;
}

p {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(255, 255, 255, 0.8);
    color: rgba(0, 0, 0, 0.8);
    width: 800px;
    text-align: center;
}