<div id="wrapper">

    <section id="bloque1">
        <img src="/assets/images/mar.jpg" id="logo">
        <h1>Efecto parallax con css3</h1>
    </section>

    <section id="bloque2">
        <p>
            blanditiis maxime iusto eum quod alias soluta corporis, repellendus accusamus expedita voluptatibus ad exercitationem voluptates. Optio neque voluptatibus modi ullam sit. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Est libero dolorem aspernatur
            eligendi minus temporibus, ut sit facilis facere sed nisi excepturi blanditiis sequi dignissimos ipsa aut dolores totam possimus. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequuntur dolorum labore laborum rerum nobis maxime
            nisi illo. Labore ut nostrum molestiae iste alias! Voluptatibus a, et pariatur laboriosam amet placeat! Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur rerum harum ex eius distinctio quis quas quibusdam? Impedit maiores
            ab odit pariatur voluptates? Hic, praesentium atque dolorem nemo suscipit similique? Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi corporis, veniam illo amet dolorum suscipit quo adipisci molestiae quos
        </p>
        <p>
            blanditiis maxime iusto eum quod alias soluta corporis, repellendus accusamus expedita voluptatibus ad exercitationem voluptates. Optio neque voluptatibus modi ullam sit. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Est libero dolorem aspernatur
            eligendi minus temporibus, ut sit facilis facere sed nisi excepturi blanditiis sequi dignissimos ipsa aut dolores totam possimus. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequuntur dolorum labore laborum rerum nobis maxime
            nisi illo. Labore ut nostrum molestiae iste alias! Voluptatibus a, et pariatur laboriosam amet placeat! Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur rerum harum ex eius distinctio quis quas quibusdam? Impedit maiores
            ab odit pariatur voluptates? Hic, praesentium atque dolorem nemo suscipit similique? Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi corporis, veniam illo amet dolorum suscipit quo adipisci molestiae quos
        </p>
        <p>
            blanditiis maxime iusto eum quod alias soluta corporis, repellendus accusamus expedita voluptatibus ad exercitationem voluptates. Optio neque voluptatibus modi ullam sit. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Est libero dolorem aspernatur
            eligendi minus temporibus, ut sit facilis facere sed nisi excepturi blanditiis sequi dignissimos ipsa aut dolores totam possimus. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequuntur dolorum labore laborum rerum nobis maxime
            nisi illo. Labore ut nostrum molestiae iste alias! Voluptatibus a, et pariatur laboriosam amet placeat! Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur rerum harum ex eius distinctio quis quas quibusdam? Impedit maiores
            ab odit pariatur voluptates? Hic, praesentium atque dolorem nemo suscipit similique? Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi corporis, veniam illo amet dolorum suscipit quo adipisci molestiae quos
        </p>
        <p>
            blanditiis maxime iusto eum quod alias soluta corporis, repellendus accusamus expedita voluptatibus ad exercitationem voluptates. Optio neque voluptatibus modi ullam sit. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Est libero dolorem aspernatur
            eligendi minus temporibus, ut sit facilis facere sed nisi excepturi blanditiis sequi dignissimos ipsa aut dolores totam possimus. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequuntur dolorum labore laborum rerum nobis maxime
            nisi illo. Labore ut nostrum molestiae iste alias! Voluptatibus a, et pariatur laboriosam amet placeat! Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur rerum harum ex eius distinctio quis quas quibusdam? Impedit maiores
            ab odit pariatur voluptates? Hic, praesentium atque dolorem nemo suscipit similique? Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi corporis, veniam illo amet dolorum suscipit quo adipisci molestiae quos
        </p>
    </section>

    <section id="bloque3">
        <h2>Creación de páginas con efectos de paralaje.</h2>
    </section>

    <section id="bloque4">
        <h2>Fin de la cosa</h2>
    </section>

</div>